/* Text */

.text-center {
  text-align: center;
}
.heading-small {
  font-size: 1.25rem;
}
.heading-medium {
  font-size: 1.50rem;
}
.heading-big {
  font-size: 1.75rem;
}

/* Colors */

.bg-darkblue {
  background: darkslateblue;
}

.bg-lightblue {
  background: lightslategray;
}

/* Container */

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* Buttons */

.btn {
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  border-radius: 3px;
  cursor: pointer
}

.btn-primary {
  background: darkslateblue;
  border: 1px solid darkslateblue;
  
}

.btn-primary:hover {
  background: white;
  border: 1px solid darkslateblue;
  color: darkslateblue;
}

.btn-danger {
  color: white;
  background: red;
  border: 1px solid red;
}

.btn-danger:hover {
  background: white;
  border: 1px solid red;
  color: red
}

.btn-block {
    width: 100%;
    text-align: center;
}

/* Forms */

.form-group {
  padding: 0.25rem 0;
}

.form-group label {
  display: block;
}

.form-control {
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  resize: vertical;
  outline: none;
  border-radius: 3px;
  border: none;
}