#navbar {
    flex-direction: column;
    padding: 11px;
}

#training .items {
    flex-direction: column;
}

#training .items .item {
    width: 100%;
}

.courses .course {
    flex-direction: column;
    align-items: center;
}

.courses .course .course-info .title,
.courses .course .course-info .description,
.courses .course .course-info .instructor,
.courses .course .course-info .rating {
    text-align: center;
}